.SeccionMedia{
    display:flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width:auto;
    /* height: 500px; */
    background: linear-gradient(45deg, #808080, #000000);
}

div{
display: flex;
flex-direction: column;
}

@media (max-width: 390px) {
    .SeccionMedia{
        display:flex;
        flex-direction: column;
        /* justify-content: space-between; */
        width:auto;
        /* height: 500px; */
        background: linear-gradient(45deg, #808080, #000000);
    }
}